        <!-- templates/defect.html -->
{% extends "index.html" %}

{% block header %}

  <!-- Header -->
  <nav class="navbar navbar-light bg-light p-3 d-flex justify-content-between">
    <img src="/static/logo/Gt-Exlogo.png" alt="Exavalu Logo" class="company-name" style="height: 50px;" />
    <h1 class="h4 text-center flex-grow-1">Testing Accelerator using Defect Pattern Analysis</h1>
    <div style="width: 50px;"></div>
  </nav>
{% endblock %}

{% block content %}
        <div class="col-md-10" id="defect-jira-input">
          <b>What Is This About:</b>
<i>Analyze recurring issues from your Jira tickets seamlessly with the help of GenAI.</i>
<br>
<b>How To Use:</b>
<ol>
    <li>Enter the required Jira details.</li>
    <li>Click on the <button class="btn btn-danger">Detect Pattern</button> button to analyze Jira issues.</li>
    <li>Our GenAI engine will process the Jira data to identify and highlight past recurring issues.</li>
    <li>After the analysis is complete, click on the <button class="btn btn-dark">Download</button> button to save the detailed analysis report to your device.</li>
</ol>
            <!-- <div id="defect-jira-info-message" class="alert alert-info mt-3"></div> -->
             {% if status %}
  <div id="defect-jira-info-message" class="alert alert-info mt-3">
    {{ status }}
  </div>
{% endif %}
            <div class="row">
                <!-- Button for Summarization_and_store_in_s3 -->
                <div class="col-md-6">
                  <form action="/trigger_summarization" method="post">
                    <button class="btn btn-primary my-3 w-100" type="submit">
                      Summarization
                    </button>
                  </form>
                </div>
    
                <!-- Button for Embedding -->
                <div class="col-md-6">
                  <form action="/trigger_embedding" method="post">
                    <button class="btn btn-primary my-3 w-100" type="submit" onclick="initiateLoader()">
                      Start Embedding
                    </button>
                  </form>
                </div>
              </div>
            <form class="upload-group-jira" method="post" action="/generate_defect" id="query-form" enctype="multipart/form-data">
                <label for="jira_url">URL:</label>
                <input class="form-control" type="url" name="jira_url" id="jira_url_defect"
                       placeholder="https://user.atlassian.net" required>
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email_defect" required placeholder="abc@xyz.com">
                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password_defect" required>
                <label for="board_id">Board Name:</label>
                <select class="form-control" name="board_id" id="board_id_defect" required>
                    <option value="">Select Board</option>
                </select>
                <label for="sprint_id">Sprint(Active):</label>
                <select class="form-control" name="sprint_id" id="sprint_id_defect" required>
                    <option value="">Select Sprint</option>
                </select>
                <label for="sprint_id">Issue_Summary(Bug):</label>
                <select class="form-control" name="issue_id" id="issue_id_defect" required>
                    <option value="">Select Issue</option>
                  </select>

                <button class="btn btn-danger mt-3" id="submit-defect-detecction" onclick="initiateLoader()">Defect Pattern
                </button>
            </form>
        </div>
        {% endblock %}