<!-- templates/jira.html -->
{% extends "index.html" %}

{% block header %}

  <!-- Header -->
  <nav class="navbar navbar-light bg-light p-3 d-flex justify-content-between">
    <img src="/static/logo/Gt-Exlogo.png" alt="Exavalu Logo" class="company-name" style="height: 50px;" />
    <h1 class="h4 text-center flex-grow-1">Testing Accelerator using BDD Based Test Data Generator</h1>
    <div style="width: 50px;"></div>
  </nav>
{% endblock %}

{% block content %}
        <div class="col-md-8" id="test-input">
            <b>What Is This About :</b>
            <i>Generate Test Data for a LOB.</i>
            <br>
            <b>How To Use:</b>
            <ol>
                <li>Select LOB of your Choice</li>
                <li>Select state of your Choice</li>
                <li>Enter number of test cases you want to generate</li>
                <li>Click on the <button class="btn btn-danger">Generate Test Data</button> button.</li>
                <li>Our Gen AI engine will then generate test cases based on your input.</li>
                <li>After the test cases are generated, click on the <button class="btn btn-dark">Download</button> button to save the Test Case Excel file to your device.</li>
            </ol>
            <div id="test-info-message" class="alert alert-info mt-3"></div>
            <form class="upload-test" method="post" action="/generate_test" enctype="multipart/form-data">
                <label for="lob">Line Of Business</label>
                <select class="form-select" name="lob" id="lob" required>
                    <option value="" disabled selected>Select LOB</option>
                    <option value="personal auto">Personal Auto</option>
                    <option value="Homeowners(Condo)">Home owners(Condo)</option>
                    <option value="commercial property">Commercial Property</option>
                    <option value="Commercial Auto">Commercial Auto</option>
                    <option value="Workers Compensation">Workers Compensation</option>
                </select>
                <label for="state" class="mt-3">State</label>
                <select class="form-select" name="state" id="state" required>
                    <option value="" disabled selected>Select State</option>
                    <option value="AZ">Arizona (AZ)</option>
                    <option value="IA">Iowa (IA)</option>
                    <option value="IL">Illinois (IL)</option>
                    <option value="OH">Ohio (OH)</option>
                    <option value="WI">Wisconsin (WI)</option>
                    <option value="IN">Indiana (IN)</option>
                </select>
                <label for="test_cases" class="mt-3">No of Test Cases</label>
                <select class="form-select" name="test_cases" id="test_cases" required>
                    <option value="" disabled selected>Select No of Test Cases</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                    <option value="120">120</option>
                </select>
                <button class="btn btn-danger my-2" id="upload-test" onclick="initiateLoader()">Generate Test Data
                </button>
            </form>
        </div>
{% endblock %}